<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="!(isAuthenticated | async)">
        <a mat-list-item routerLink="/login" routerLinkActive="active-link">
          <mat-icon mat-list-icon>login</mat-icon>
          Ingresar
        </a>
        <mat-divider></mat-divider>
      </ng-container>
      <a mat-list-item routerLink="/documents" routerLinkActive="active-link">
        <mat-icon mat-list-icon>assignment</mat-icon>
        Documentos
      </a>
      <ng-container *ngIf="(isAuthenticated | async)">
        <a
          mat-list-item
          routerLink="/blockchain"
          routerLinkActive="active-link"
        >
          <mat-icon mat-list-icon>checklist</mat-icon>
          Registros
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      *ngIf="(navbarService.mode$ | async) === 'navigator'"
      color="primary"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="title">{{ navbarService.title$ | async }}</span>
      <span class="spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="user menu"
        *ngIf="isAuthenticated | async"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/profile"
          routerLinkActive="active-link"
        >
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <mat-toolbar
      *ngIf="(navbarService.mode$ | async) === 'editor'"
      color="primary"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="navbarService.back()"
      >
        <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
      </button>

      <span class="title">{{ navbarService.title$ | async }}</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
