<h1 mat-dialog-title class="dialog__title">Panificadora Pupular S.A.</h1>
<div mat-dialog-content>
  <p class="dialog__description">Escanee el código con su dispositivo móvil:</p>
  <!--   <ul>
    <li><span *ngIf="data.animal === 'panda'">&#10003;</span> Panda</li>
    <li><span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn</li>
    <li><span *ngIf="data.animal === 'lion'">&#10003;</span> Lion</li>
  </ul> -->

  <img src="./../../assets/img/qr.png" alt="qr_code" width="100%" />
</div>
